<% include ../sharePages/header.html %>
    <div class="message">
        <div class="left">
            <div class="msglist">
                <span><i class="iconfont icon-interactive_fill"></i>评论</span>
                <span><i class="iconfont icon-collection_fill"></i>收藏</span>
                <span><i class="iconfont icon-like_fill"></i>喜欢</span>
                <span><i class="iconfont icon-add" style="font-weight:bold"></i>关注</span>
            </div>
            <% include ../sharePages/copyright.html %>
        </div>
        <div class="right">

        </div>
    </div>


    <% include ../sharePages/footer.html %>