<% include ../sharePages/header.html %>

    <% include ../sharePages/personal.html %>
        <div class="left">
            <% if(category == "none" && search == "none"){ %>
                <% include ../sharePages/personal-3tabs.html %>
            <% }else if(category != "none" && search == "none"){ %>
                <div class="tabs">
                    <% if(category == "nocate"){ %>
                        <div class="box box2">文章分类：
                            无分类
                        </div>
                        <% }else{ %>
                            <div class="box box2">文章分类：
                    <%= category %>
                            </div>
                    <% } %>
                </div>
            <% }else if(category == "none" && search != "none"){ %>
                <div class="tabs">
                    <div class="box box2">文章搜索：
                        <%= search %>
                    </div>
                </div>
            <% } %>
            <div class="list">
                <% 
                    if(data.user.articleNum != 0){
                        var article = data.article;
                        for(var i=0;i < article.length;i++) { 
                            var a = article[i];
                %>
                                    <div class="article" id="<%= a._id %>">
                                        <div class="top">
                                            <img src="<%= a.authorId.headImage %>" alt=" " class="headimage" onclick="location.href='/personal/article/<%= a.authorId._id %>'">
                                            <div class="name">
                                                <%= a.authorId.name %>
                                            </div>
                                            <div class="time">
                                                <%= dateFormat(a.createTime) %>
                                            </div>
                                            <% if(isSelf){ %>
                                                <div class="delete" onclick="deleteArticle(this)" data-text="删除" id="<%= a._id %>">
                                                    <i class="iconfont icon-close" style="font-weight:bold"></i>
                                                </div>
                                                <% } %>
                                        </div>
                                        <div class="middle">
                                            <a href="/article/<%= a.authorId._id %>/<%= a._id %>" class="title">
                                                <%= a.title %>
                                            </a>
                                            <div class="content">
                                                <%= a.text %>
                                            </div>
                                        </div>
                                        <div class="bottom ">
                                            <% 
                                if(a.tag != 'notag'){
                                    var t = a.tag.split(' ');
                                    t.length = t.length<=3?t.length:3;
                                    for(var j=0;j<t.length;j++){
                                        if(t[j]!=''){
                            %>
                                                <div class="tag">
                                                    <i class="iconfont icon-tag"></i>
                                                    <%= t[j] %>
                                                </div>
                                                <% }}} %>
                                                    <div class="num ">浏览:
                                                        <%= a.lookNum %>
                                                    </div>
                                                    <div class="num ">评论:
                                                        <%= a.msgNum %>
                                                    </div>
                                                    <div class="num ">喜欢:
                                                        <%= a.likeNum %>
                                                    </div>
                                                    <div class="num">收藏:
                                                        <%= a.collectNum %>
                                                    </div>
                                        </div>
                                    </div>
                                    <% }}else{ %>
                                        <div class="noperson">没有写文章哦</div>
                                        <% } %>
                            </div>
                            <% if(data.user.articleNum != 0){ %>
                                <% include ../sharePages/page.html %>
                                    <% } %>
        </div>
        </div>
        <script>
            function deleteArticle(obj) {
                var result = confirm("确定删除该文章？");
                if (result) {
                    var aid = obj.id;
                    $.ajax({
                        type: 'post',
                        url: '/deletearticle',
                        data: {
                            aid,
                        },
                        success(data) {
                            if (data.result == 'ok') {
                                location.reload();
                            }
                        }
                    })
                }
            }
        </script>

        <% include ../sharePages/footer.html %>