<% include ../sharePages/header.html %>

    <% include ../sharePages/personal.html %>
        <div class="left">
            <% include ../sharePages/personal-3tabs.html %>
                <div class="list">
                    <% 
                    if(data!=null){
                        if(data.user.followNum != 0){
                            for(var i=0;i<data.follow[0][0].followList.length;i++){
                                if(data.follow[0][0].followList[i].followType == 0){
                                    var f = data.follow[0][0].followList[i].followId;
                %>
                        <div class="followperson">
                            <img src="<%= f.headImage %>" alt="" onclick="location.href='/personal/article/<%= f._id %>'">
                            <div class="info">
                                <div class="name" onclick="location.href='/personal/article/<%= f._id %>'">
                                    <%= f.name %>
                                </div>
                                <div class="content">
                                    <% if(f.content){ %>
                                        <%= f.content %>
                                            <% }else { %>
                                                暂无简介~
                                                <% } %>
                                </div>
                                <span class="articlen">文章 <%= f.articleNum %></span> |
                                <span class="follown">关注 <%= f.followNum %></span> |
                                <span class="fansn">粉丝 <%= f.fansNum %></span>
                            </div>
                            <% if(isSelf){ %>
                                <div class="btn" id="<%= f._id %>" onclick="unfollow(this)"><span>√ 已关注</span><span>× 取消关注</span> </div>
                                <% } %>
                        </div>
                        <% }}}else{ %>
                            <div class="noperson">没有关注的人哦~</div>
                            <% }} %>
                </div>
                <% if(data.user.followNum != 0){ %>
                    <% include ../sharePages/page.html %>
                    <% } %>
        </div>
        </div>
        <script>
            function unfollow(obj) {
                var otherid = obj.id;
                $.ajax({
                    type: 'post',
                    url: '/unfollowperson',
                    data: {
                        otherid,
                    },
                    success(data) {
                        if (data.result == 1) {
                            alert("取消关注成功");
                            location.reload();
                        }
                    }
                })
            }
        </script>


        <% include ../sharePages/footer.html %>