<% include ../sharePages/header.html %>

    <% include ../sharePages/personal.html %>
        <div class="left">
            <div class="tabs">
                <div class="box active" onclick="location.href='/personal/article/<%= goto %>'"><i class="iconfont icon-wenzhang"></i>文章</div>
                <div class="box" onclick="location.href='/personal/follow/<%= goto %>'"><i class="iconfont icon-guanzhu1"></i>关注</div>
                <div class="box" onclick="location.href='/personal/fans/<%= goto %>'"><i class="iconfont icon-fensi"></i>粉丝</div>
            </div>
            <div class="list">
                <% 
                    if(data.user.articleNum != 0){
                        var article = data.article;
                        for(var i=0;i < article.length;i++) { 
                            var a = article[i];
                %>
                    <div class="article" id="<%= a._id %>">
                        <div class="top">
                            <img src="<%= a.authorId.headImage %>" alt=" " class="headimage" onclick="location.href='/personal/article/<%= a.authorId._id %>'">
                            <div class="name">
                                <%= a.authorId.name %>
                            </div>
                            <div class="time">
                                <%= dateFormat(a.createTime) %>
                            </div>
                            <% if(isSelf){ %>
                                <div class="delete" onclick="deleteArticle(this)" data-text="删除" id="<%= a._id %>">
                                    <i class="iconfont icon-close" style="font-weight:bold"></i>
                                </div>
                                <% } %>
                        </div>
                        <div class="middle">
                            <a href="/article/<%= a.authorId._id %>/<%= a._id %>" class="title">
                                <%= a.title %>
                            </a>
                            <div class="content">
                                <%= a.text %>
                            </div>
                        </div>
                        <div class="bottom ">
                            <div class="num tag">
                                <%= a.tag %>
                            </div>
                            <div class="num ">浏览:
                                <%= a.lookNum %>
                            </div>
                            <div class="num ">评论:
                                <%= a.msgNum %>
                            </div>
                            <div class="num ">喜欢:
                                <%= a.likeNum %>
                            </div>
                            <div class="num">收藏:
                                <%= a.collectNum %>
                            </div>
                        </div>
                    </div>
                    <% }}else{ %>
                        <div class="noperson">没有写文章哦</div>
                        <% } %>
            </div>
            <div class="pages">
                <ul>
                    <% if(data.currentPage==1) {%>
                        <li><a href="/personal/article/<%= goto %>/?page=1"><i class="iconfont icon-return"></i></a></li>
                        <% }else{ var lastPage = data.currentPage - 1;%>
                            <li><a href="/personal/article/<%= goto %>/?page=<%= lastPage %>"><i class="iconfont icon-return"></i></a></li>
                            <% } %>

                                <% 
                            for(var i=1;i<=data.allPage;i++){ 
                                if(data.currentPage == i){
                        %>
                                    <li class="active">
                                        <a href="/personal/article/<%= goto %>/?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% }else{ %>
                                        <li>
                                            <a href="/personal/article/<%= goto %>/?page=<%= i %>">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% }} %>

                                            <% if(data.currentPage==data.allPage) {%>
                                                <li><a href="/personal/article/<%= goto %>/?page=<%= data.allPage %>"><i class="iconfont icon-enter"></i></a></li>
                                                <% }else{ var nextPage = data.currentPage + 1;%>
                                                    <li><a href="/personal/article/<%= goto %>/?page=<%= nextPage %>"><i class="iconfont icon-enter"></i></a></li>
                                                    <% } %>
                </ul>
            </div>
        </div>
        </div>
        <script>
            function deleteArticle(obj) {
                var result = confirm("确定删除该文章？");
                if (result) {
                    var aid = obj.id;
                    $.ajax({
                        type: 'post',
                        url: '/deletearticle',
                        data: {
                            aid,
                        },
                        success(data) {
                            if (data.result == 'ok') {
                                location.reload();
                            }
                        }
                    })
                }
            }
        </script>

        <% include ../sharePages/footer.html %>