<% include ../sharePages/header.html %>

    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js">
    </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js">
    </script>
    <style>
        .main {
            margin-top: 60px;
        }
    </style>
    <div class="write-main">
        <div class="write-list">
            <div class="list-title">
                <div class="a1">文章列表</div>
                <div class="a2" onclick="location.href='/write'">+新建文章</div>
            </div>
            <div class="list-main">
                <% 
                if(data.article.length != 0){
                    for(var i=0;i<data.article.length;i++){ 
                        if(data.article[i].status == 0){
                %>
                    <div class="article" id="<%= data.article[i]._id %>" onclick="location.href='/write/<%= data.article[i]._id %>'">
                        <div class="title">
                            <%= data.article[i].title %>
                        </div>
                        <div class="statu">未发布</div>
                    </div>
                    <% }else{ %>
                        <div class="article" id="<%= data.article[i]._id %>" onclick="location.href='/write/<%= data.article[i]._id %>'">
                            <div class="title">
                                <%= data.article[i].title %>
                            </div>
                            <div class="statu">已发布</div>
                        </div>
                        <% }}}else{ %>
                            <div class="noarticle">
                                没有写文章
                            </div>
                            <% } %>
            </div>
        </div>
        <div class="write">
            <% if(data.singlearticle){ %>
                <input id="title" type="text" placeholder="请输入标题" value="<%= data.singlearticle.title %>">
                <input id="tag" type="text" placeholder="请输入标签，空格隔开，最多6个" value="<%= data.singlearticle.tag %>">
                <% }else{ %>
                    <input id="title" type="text" placeholder="请输入标题">
                    <input id="tag" type="text" placeholder="请输入标签，空格隔开，最多6个">
                    <% } %>
                        <div style="overflow:hidden">
                            <select required>
                                <option value="" disabled selected hidden>请选择文章分类</option>
                                <% 
                                    if(data.user.categoryList.length != 0){
                                        for(var i=0;i<data.user.categoryList.length;i++){ 
                                %>
                                    <option value="<%= i %>">
                                        <%= data.user.categoryList[i].categoryName %>
                                    </option>
                                    <% }}else{ %>
                                        <option value="0" disabled>
                                            没有文章分类，请先添加
                                        </option>
                                        <% } %>
                            </select>
                            <div class="add" onclick="show()">添加文章分类</div>
                        </div>
                        <div class="addNewInput">
                            <input class="categoryinput" id="tag" type="text" placeholder="请输入新分类名称">
                            <div class="add" onclick="sureAdd()">确定</div>
                        </div>
                        <script id="editor" type="text/plain" style="height:1000px;width:100%;"></script>
                        <div class="tools">
                            <div class="savearticle" onclick="">发布</div>
                            <div class="savearticle" onclick="savearticle()">保存</div>
                            <div class="savearticle" onclick="showArticle()">预览</div>
                        </div>
        </div>
    </div>
    <script>
        var url = location.href.split('/')[4];
        $('#' + url).addClass('active');

        //编辑器初始化
        var ue = UE.getEditor('editor');
        ue.ready(function () {  //编辑器初始化完成再赋值
            ue.setContent('<%- data.singlearticle.content %>'); //赋值给UEditor
        });

        $(function(){
            var ie6 = document.all;
            var dv = $('#edui1_toolbarbox'),
                st;
            dv.attr('otop', dv.offset().top); //存储原来的距离顶部的距离
            $(window).scroll(function () {
                st = Math.max(document.body.scrollTop || document.documentElement.scrollTop);
                if (st > parseInt(dv.attr('otop'))) {
                    if (ie6) { //IE6不支持fixed属性，所以只能靠设置position为absolute和top实现此效果
                        dv.css({
                            position: 'absolute',
                            top: st
                        });
                    } else if (dv.css('position') != 'fixed') dv.css({
                        'position': 'fixed',
                        top: 60 + 'px',
                        width: 61 + '%'
                    });
                } else if (dv.css('position') != 'static') dv.css({
                    'position': 'static',
                    width: 'auto'
                });
            });
        })

        function showArticle() {
            window.open("/article" + "/" + "<%= user.id %>" + "/" + url);
        }

        function savearticle() {
            var title = $('#title').val();
            var tag = $('#tag').val() || "notag";
            var content = UE.getEditor('editor').getContent();
            var text = UE.getEditor('editor').getContentTxt();
            if (title != '' && content != '') {
                $.ajax({
                    type: 'post',
                    url: '/savearticle',
                    data: {
                        title,
                        tag,
                        content,
                        text,
                    },
                    success(data) {
                        if (data.result == 'ok') {
                            alert('保存成功');
                            location.href = '/personal/article/<%= user.id %>';
                        }
                    }
                });
            } else {
                alert('请完善内容');
            }
        }

        function show() {
            $('.addNewInput').toggle('500');
        }

        function sureAdd(){
            var newCategoryName = $('.categoryinput').val();
            if(newCategoryName){
                $.ajax({
                    type:'post',
                    url:'/addcategory',
                    data:{
                        newCategoryName,
                    },
                    success(data){
                        if(data.result == 'ok'){
                            alert("添加成功");
                            location.reload();
                        }
                    }
                })
            }else{
                alert("请输入新分类名称");
                $('.categoryinput').select();
            }
        }
    </script>

    <% include ../sharePages/footer.html %>