</div>

<div class="footer">
    copyright @ by hester
</div>

<div class="totop" style="visibility:hidden">
    <i class="iconfont icon-packup"></i>
</div>

<script>
    $(window).scroll(function() {
        ($(this).scrollTop() > 70) ? $('.totop').css({
            'visibility': 'visible'
        }): $('.totop').css({
            'visibility': 'hidden'
        });
    });
    $('.totop').click(function() {
        $("html").animate({
            "scrollTop": 0
        }, 300);
    });
    var taburl = location.href.split('/')[4];
    $('.personal .left .tabs .' + taburl).addClass("active");
</script>


</body>

</html>