<div class="personal">
    <div class="right">
        <div class="one">
            <div class="row1">
                <img src="<%= data.user.headImage %>" alt="">
                <span><%= data.user.name %></span>
                <% if(data.isFollow){ %>
                    <div class="follow" style="background:rgb(116, 181, 255);color:#fff;pointer-events:none">
                        已关注
                    </div>
                    <% }else{ %>
                        <div class="follow" id="<%= goto %>" onclick="followPerson(this)">
                            <i class="iconfont icon-add" style="font-weight:bold"></i>关注
                        </div>
                        <% } %>

            </div>
            <div class="row2">
                <div class="box" onclick="location.href='/personal/article/<%= goto %>'">
                    <span><%= data.an %></span> 文章
                </div>
                <div class="box" onclick="location.href='/personal/follow/<%= goto %>'">
                    <span><%= data.user.followNum %></span> 关注
                </div>
                <div class="box" onclick="location.href='/personal/fans/<%= goto %>'">
                    <span><%= data.user.fansNum %></span> 粉丝
                </div>
            </div>
            <div class="split"></div>
            <div class="row3">
                <div class="like" onclick="location.href='/personal/likearticle/<%= goto %>'">喜欢和收藏的文章 <i class="iconfont icon-enter" style="font-weight:bold"></i></div>
            </div>
            <div class="split"></div>
            <div class="row3">
                <input type="text" placeholder="文章搜索">
                <span class="clear" onclick="$(this).prev('input').val('')">x</span>
                <i class="iconfont icon-search" style="font-weight:bold;"></i>
            </div>
            <div class="split"></div>
            <div class="row4">
                <span>文章推荐</span>
                <ul>
                    <% if(data.iscom.length != 0){ %>
                    <% for(var i=0;i<data.iscom.length;i++){ %>
                    <li><a href="/article/<%= data.iscom[i].authorId %>/<%= data.iscom[i]._id %>" class="article" target="_blank"><%= data.iscom[i].title %></a></li>
                    <% }}else{ %>
                        <li>
                           无
                        </li>
                        <% } %>
                </ul>
            </div>
            <div class="split"></div>
            <div class="row4">
                <span>文章分类</span>
                <%  if(data.user.categoryList.length == 1 && data.user.categoryList[0].categoryNum == 0){ %>
                    <div class="article">无</div>
                <% } %>
                <ul>
                    <% 
                        for(var i =0;i<data.user.categoryList.length;i++){ 
                            var cl = data.user.categoryList[i];
                            if(cl.categoryNum != 0){
                                if(cl.categoryName == 'nocate'){
                    %>
                                    <li><a href="" class="article">无分类&nbsp;&nbsp;(<%= cl.categoryNum %>)</a></li>
                                <% }else{%>
                            <li><a href="" class="article"><%= cl.categoryName %>&nbsp;&nbsp;(<%= cl.categoryNum %>)</a></li>

                        <% }}} %>
                </ul>
            </div>
            <div class="split"></div>
            <div class="row4">
                <span>文章存档</span>
                <ul>
                    <li><a href="" class="article">2016-08-10&nbsp;&nbsp;(3)</a></li>
                    <li><a href="" class="article">2016-08-11&nbsp;&nbsp;(3)</a></li>
                </ul>
            </div>
        </div>
        <% include ../sharePages/copyright.html %>
    </div>